[submodule "src/cf-mysql-broker"]
	path = src/cf-mysql-broker
	url = https://github.com/cloudfoundry/cf-mysql-broker.git
[submodule "src/github.com/cloudfoundry-incubator/galera-healthcheck"]
	path = src/github.com/cloudfoundry-incubator/galera-healthcheck
	url = https://github.com/cloudfoundry-incubator/galera-healthcheck.git
	branch = master
[submodule "src/github.com/cloudfoundry/mariadb_ctrl"]
	path = src/github.com/cloudfoundry/mariadb_ctrl
	url = https://github.com/cloudfoundry/mariadb_ctrl.git
	branch = master
[submodule "src/github.com/cloudfoundry-incubator/switchboard"]
	path = src/github.com/cloudfoundry-incubator/switchboard
	url = https://github.com/cloudfoundry-incubator/switchboard
	branch = master
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
	branch = master
[submodule "src/github.com/cloudfoundry-incubator/cf-mysql-acceptance-tests"]
	path = src/github.com/cloudfoundry-incubator/cf-mysql-acceptance-tests
	url = https://github.com/cloudfoundry-incubator/cf-mysql-acceptance-tests.git
	branch = master
[submodule "src/github.com/pivotal-cf-experimental/cf-mysql-quota-enforcer"]
	path = src/github.com/pivotal-cf-experimental/cf-mysql-quota-enforcer
	url = https://github.com/pivotal-cf-experimental/cf-mysql-quota-enforcer.git
[submodule "src/github.com/cloudfoundry-incubator/cf-mysql-bootstrap"]
	path = src/github.com/cloudfoundry-incubator/cf-mysql-bootstrap
	url = https://github.com/cloudfoundry-incubator/cf-mysql-bootstrap
	branch = master
[submodule "src/github.com/cloudfoundry-incubator/cf-mysql-cluster-health-logger"]
	path = src/github.com/cloudfoundry-incubator/cf-mysql-cluster-health-logger
	url = https://github.com/cloudfoundry-incubator/cf-mysql-cluster-health-logger.git
	branch = master
