config/dev.yml
config/private.yml
/*.yml
!/.travis.yml
releases/*.tgz
dev_releases
.blobs
blobs
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
bosh-lite/manifests/*
bosh-lite/tmp/*
.idea/
*.iml
releases/**/*.tgz
.idea
.DS_Store
*.swp
*~
*#
#*
*config.json
pkg/
src/github.com/cloudfoundry-incubator/spiff/
src/github.com/vito/gosub/
src/github.com/codegangsta/cli/
*.iml
src/quota-enforcer/config.yml
src/quota-enforcer/config.yaml
src/quota-enforcer/config.json
src/quota-enforcer/tmp/
src/quota-enforcer/**/*.test
src/quota-enforcer/out/*

