config/dev.yml
config/private.yml
releases/*.tgz
dev_releases
.blobs
blobs
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
bosh-lite/manifests/*
bosh-lite/tmp/*
.idea/
*.iml
releases/**/*.tgz
.idea
.DS_Store
*.swp
*~
*#
#*
src/acceptance-tests/integration_config.json
bin/
pkg/
src/github.com/vito/gosub/
src/github.com/codegangsta/cli/
