[submodule "src/cf-mysql-broker"]
	path = src/cf-mysql-broker
	url = https://github.com/cloudfoundry/cf-mysql-broker.git
[submodule "shared"]
	path = shared
	url = https://github.com/cloudfoundry/shared-release-packages.git
[submodule "packages/ruby"]
	path = packages/ruby
	url = https://github.com/cloudfoundry/ruby.git
[submodule "src/broker-registrar"]
	path = src/broker-registrar
	url = https://github.com/pivotal-cf/broker-registrar.git
[submodule "src/galera-healthcheck/src/github.com/cloudfoundry-incubator/galera-healthcheck"]
	path = src/galera-healthcheck/src/github.com/cloudfoundry-incubator/galera-healthcheck
	url = https://github.com/cloudfoundry-incubator/galera-healthcheck.git
[submodule "src/route-registrar/src/github.com/cloudfoundry-incubator/route-registrar"]
	path = src/route-registrar/src/github.com/cloudfoundry-incubator/route-registrar
	url = https://github.com/cloudfoundry-incubator/route-registrar.git
[submodule "src/mariadb_ctrl/src/github.com/cloudfoundry/mariadb_ctrl"]
	path = src/mariadb_ctrl/src/github.com/cloudfoundry/mariadb_ctrl
	url = https://github.com/cloudfoundry/mariadb_ctrl.git
[submodule "src/switchboard/src/github.com/pivotal-cf-experimental/switchboard"]
	path = src/switchboard/src/github.com/pivotal-cf-experimental/switchboard
	url = https://github.com/pivotal-cf-experimental/switchboard
